*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (max-width: 60em) {
  html {
    font-size: 56.25%;
  }
}

body {
  width: 144rem;
  margin: 0 auto;
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
  line-height: 1;
  background-color: hsl(0, 0%, 98%);
}
@media screen and (max-width: 90em) {
  body {
    width: 100%;
    padding: 0 2.4rem;
    margin-bottom: 2.4rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 4.2rem;
  margin-bottom: 6.4rem;
}
@media screen and (max-width: 90em) {
  .header {
    padding: 2.4rem 0;
  }
}
.header__left {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}
.header__left__logo {
  width: 8rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__left__logo img {
  width: 100%;
  height: auto;
}
.header__left__navbar__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}
.header__left__navbar__list__item {
  position: relative;
}
.header__left__navbar__list__item__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.header__left__navbar__list__item__link:hover {
  color: hsl(0, 0%, 8%);
}
.header__left__navbar__list__item__link__icon--arrow-down {
  display: block;
}
.header__left__navbar__list__item__link__icon--arrow-up {
  display: none;
}
.header__left__navbar__list__item__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.2rem;
  padding: 1.6rem;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}
.header__left__navbar__list__item__dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}
.header__left__navbar__list__item__dropdown__list__item__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-wrap: nowrap;
}
.header__left__navbar__list__item__dropdown__list__item__link:hover {
  color: hsl(0, 0%, 8%);
}
.header__left__navbar__list__item.active .header__left__navbar__list__item__link__icon--arrow-down {
  display: none;
}
.header__left__navbar__list__item.active .header__left__navbar__list__item__link__icon--arrow-up {
  display: block;
}
.header__left__navbar__list__item.active .header__left__navbar__list__item__dropdown {
  display: block;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.header__right__button {
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  color: hsl(0, 0%, 41%);
  background: none;
  border-radius: 1.2rem;
}
.header__right__button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
  border-color: hsl(0, 0%, 8%);
}
.header__right__button--login {
  border: none;
}
.header__right__button--register {
  border: 1px solid hsl(0, 0%, 41%);
}

.main {
  width: 124rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}
@media screen and (max-width: 77.5em) {
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 60em) {
  .main {
    grid-template-columns: 1fr;
    gap: 4.6rem;
  }
}
.main__left {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 60em) {
  .main__left {
    justify-content: flex-start;
    text-align: center;
    order: 2;
  }
}
.main__left__content__title {
  font-size: 8.4rem;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  padding-right: 1.2rem;
  margin-bottom: 4.2rem;
}
@media screen and (max-width: 77.5em) {
  .main__left__content__title {
    font-size: 6.2rem;
    padding-right: 0;
  }
}
@media screen and (max-width: 60em) {
  .main__left__content__title {
    margin-bottom: 1.2rem;
  }
}
.main__left__content__body {
  line-height: 1.5;
  padding-right: 9.6rem;
  margin-bottom: 4.2rem;
}
@media screen and (max-width: 60em) {
  .main__left__content__body {
    padding: 0 14.4rem;
    margin-bottom: 2.4rem;
  }
}
.main__left__content__button {
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 8%);
  border-radius: 1.2rem;
}
@media screen and (max-width: 60em) {
  .main__left__content__button {
    margin-bottom: 4.2rem;
  }
}
.main__left__content__button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 8%);
}
.main__left__clients {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 60em) {
  .main__left__clients {
    width: 64rem;
    margin: 0 auto;
  }
}
.main__left__clients img {
  width: auto;
  height: auto;
}
.main__right {
  width: 100%;
}
@media screen and (max-width: 60em) {
  .main__right {
    width: 64rem;
    margin: 0 auto;
    order: 1;
  }
}
.main__right img {
  width: 100%;
  height: auto;
}
.main__right__illustration--desktop {
  display: block;
}
@media screen and (max-width: 60em) {
  .main__right__illustration--desktop {
    display: none;
  }
}
.main__right__illustration--mobile {
  display: none;
}
@media screen and (max-width: 60em) {
  .main__right__illustration--mobile {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
