/* Variables */
:root {
  --color-violet: hsl(257, 40%, 49%);
  --color-soft-magenta: hsl(300, 69%, 71%);
}

/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}

/* Styles */
.container {
  max-width: 144rem;

  margin: 9.6rem auto;
  padding: 6.4rem;
  display: flex;

  background-color: var(--color-violet);
  background-image: url("./../images/bg-desktop.svg");
  border-radius: 1rem;
}

.logo {
  margin-bottom: 6.4rem;
}

.right {
  padding: 0 8.4rem 0 4.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.6;
  color: #fff;
}

.description {
  color: #fff;
  line-height: 1.6;

  margin-bottom: 2.4rem;
}

.submit-btn {
  width: 18rem;
  height: 5.2rem;

  font-size: 1.6rem;
  color: var(--color-violet);

  border: none;
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
}

.submit-btn:hover {
  cursor: pointer;
  background-color: var(--color-soft-magenta);
  color: #fff;
}

/* Media queries */
@media screen and (max-width: 90em) {
  .right {
    padding: 0 0 0 4.2rem;
  }
}

@media screen and (max-width: 77.5em) {
  .container {
    max-width: 64rem;
    flex-direction: column;

    background-image: none;
  }

  .left {
    background-image: url("./../images/bg-mobile.svg");
    background-size: cover;
    margin-bottom: 5.2rem;
  }

  .right {
    text-align: center;
    padding: 0 4.6rem;
  }

  .illustration {
    width: 100%;
  }

  .submit-btn {
    margin: 0 auto;
  }
}

@media screen and (max-width: 40em) {
  .container {
    max-width: 42rem;
    padding: 2.4rem;
  }

  .right {
    padding: 0;
  }

  .title {
    font-size: 2.6rem;
  }
}
