*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (max-width: 67.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: hsl(226, 43%, 10%);
}

.dashboard {
  display: flex;
  gap: 2.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 52.5em) {
  .dashboard {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 4.6rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }
}
.dashboard__left {
  width: 24rem;
}
@media screen and (max-width: 52.5em) {
  .dashboard__left {
    width: 32rem;
  }
}
.dashboard__left__top {
  width: 100%;
  height: 65%;
  background-color: hsl(246, 80%, 60%);
  border-radius: 1.2rem;
  position: relative;
  z-index: 999;
  padding: 3.2rem 2.6rem;
}
@media screen and (max-width: 52.5em) {
  .dashboard__left__top {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}
.dashboard__left__top__picture {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  border: 3px solid #fff;
  margin-bottom: 3.2rem;
}
@media screen and (max-width: 52.5em) {
  .dashboard__left__top__picture {
    margin-bottom: 0;
  }
}
.dashboard__left__top__label {
  font-size: 1.4rem;
  color: hsl(236, 100%, 87%);
  margin-bottom: 1.2rem;
}
@media screen and (max-width: 52.5em) {
  .dashboard__left__top__label {
    margin-bottom: 0.6rem;
  }
}
.dashboard__left__top__name {
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.15;
}
@media screen and (max-width: 52.5em) {
  .dashboard__left__top__name {
    font-size: 2.4rem;
  }
}
.dashboard__left__bottom {
  position: relative;
  top: -2.4rem;
  padding-top: 2.4rem;
  padding-left: 2.4rem;
  height: 35%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 1.2rem;
}
@media screen and (max-width: 52.5em) {
  .dashboard__left__bottom {
    padding-left: 0;
  }
}
.dashboard__left__bottom__list {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 52.5em) {
  .dashboard__left__bottom__list {
    flex-direction: row;
    justify-content: space-around;
    padding: 2.4rem 0;
  }
}
.dashboard__left__bottom__list__item {
  font-size: 1.6rem;
  color: hsl(236, 100%, 87%);
  cursor: pointer;
}
.dashboard__left__bottom__list__item--active {
  color: #fff;
}
.dashboard__right {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
@media screen and (max-width: 52.5em) {
  .dashboard__right {
    gap: 1.2rem;
  }
}
.dashboard__right__row {
  display: flex;
  gap: 2.6rem;
}
@media screen and (max-width: 52.5em) {
  .dashboard__right__row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }
}
.dashboard__right__row__item {
  width: 24rem;
  height: 24rem;
  border-radius: 1.2rem;
  overflow: hidden;
}
@media screen and (max-width: 52.5em) {
  .dashboard__right__row__item {
    width: 32rem;
  }
}
.dashboard__right__row__item__top {
  position: relative;
  height: 6.4rem;
  overflow: hidden;
}
.dashboard__right__row__item__top--work {
  background-color: hsl(15, 100%, 70%);
}
.dashboard__right__row__item__top--play {
  background-color: hsl(195, 74%, 62%);
}
.dashboard__right__row__item__top--study {
  background-color: hsl(348, 100%, 68%);
}
.dashboard__right__row__item__top--exercise {
  background-color: hsl(145, 58%, 55%);
}
.dashboard__right__row__item__top--social {
  background-color: hsl(264, 64%, 52%);
}
.dashboard__right__row__item__top--self-care {
  background-color: hsl(43, 84%, 65%);
}
.dashboard__right__row__item__top__icon {
  position: absolute;
  right: 1.2rem;
  top: -0.4rem;
}
.dashboard__right__row__item__bottom {
  height: calc(100% - 6.4rem);
  position: relative;
  top: -2.4rem;
  padding: 2.4rem;
  background-color: hsl(235, 46%, 20%);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard__right__row__item__bottom__heading {
  display: flex;
  justify-content: space-between;
}
.dashboard__right__row__item__bottom__heading__button {
  cursor: pointer;
  background: none;
  border: none;
}
.dashboard__right__row__item__bottom__content__hours {
  font-size: 5.2rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
}
.dashboard__right__row__item__bottom__content__label {
  font-size: 1.6rem;
  color: hsl(236, 100%, 87%);
}

/*# sourceMappingURL=styles.css.map */
