/* Variables */
:root {
  --color-nutmeg: hsl(14, 45%, 36%);
  --color-dark-raspberry: hsl(332, 51%, 32%);

  --color-white: hsl(0, 0%, 100%);
  --color-rose-white: hsl(330, 100%, 98%);
  --color-eggshell: hsl(30, 54%, 90%);
  --color-light-gray: hsl(30, 18%, 87%);
  --color-wenge-brown: hsl(30, 10%, 34%);
  --color-dark-charcoal: hsl(24, 5%, 18%);
}

/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;

  margin-top: 4.2rem;
}

/* Styles */
body {
  background-color: var(--color-eggshell);
}

.container {
  padding: 6.4rem 0;
}

.recipe {
  width: 62rem;

  border-radius: 2rem;
  background-color: var(--color-white);

  padding: 3.2rem;
  margin: 0 auto;
}

.recipe-img-container {
  width: 100%;

  margin-bottom: 3.2rem;
}

.recipe-img {
  width: 100%;
  border-radius: 1.2rem;
}

.recipe-title {
  font-family: "Young Serif", serif;
  font-size: 3.6rem;
  font-weight: 400;
  color: var(--color-dark-charcoal);

  margin-bottom: 2.6rem;
}

.recipe-description {
  color: var(--color-wenge-brown);
  line-height: 1.4;

  margin-bottom: 2.6rem;
}

.recipe-prep-time {
  padding: 2.4rem;

  background-color: var(--color-rose-white);
  border-radius: 1.2rem;

  margin-bottom: 2.6rem;
}

.recipe-prep-time .recipe-subheader {
  font-weight: 700;
  color: var(--color-dark-raspberry);

  margin-bottom: 1.2rem;
}

.recipe-prep-time ul {
  list-style-position: inside;
}

.recipe-prep-time ul li strong {
  color: var(--color-dark-charcoal);
}

.recipe-prep-time ul li::marker {
  color: var(--color-dark-raspberry);
}

.recipe-prep-time ul li:not(:last-child) {
  margin-bottom: 1.2rem;
}

.recipe-subtitle {
  font-family: "Young Serif", serif;
  font-size: 2.6rem;
  font-weight: 400;
  color: var(--color-nutmeg);

  margin-bottom: 1.2rem;
}

.recipe-ingredients {
  list-style-position: inside;

  padding-bottom: 3.2rem;
  margin-bottom: 2.6rem;
  border-bottom: 1px solid var(--color-light-gray);
}

.recipe-ingredients li::marker {
  color: var(--color-nutmeg);
}

.recipe-ingredients li:not(:last-child) {
  margin-bottom: 1.2rem;
}

.recipe-instructions {
  line-height: 1.4;
  list-style-position: inside;

  padding-bottom: 3.2rem;
  margin-bottom: 2.6rem;
  border-bottom: 1px solid var(--color-light-gray);
}

.recipe-instructions li strong {
  color: var(--color-dark-charcoal);
}

.recipe-instructions li::marker {
  font-weight: 700;
  color: var(--color-nutmeg);
}

.recipe-instructions li:not(:last-child) {
  margin-bottom: 1.2rem;
}

.recipe-nutrition-table-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 1.2rem 2.4rem;
}

.recipe-nutrition-table-row:not(:last-child) {
  border-bottom: 1px solid var(--color-light-gray);
}

.recipe-nutrition-table-col {
  color: var(--color-wenge-brown);
}

.recipe-nutrition-table-col strong {
  color: var(--color-nutmeg);
}

@media screen and (max-width: 38.75em) {
  .container {
    padding: 0;
  }

  .recipe {
    width: 100%;

    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  .recipe-img {
    border-radius: 0;
  }

  .recipe-content {
    padding: 0 3.2rem;
  }
}
